<html>
    <head><title>MojeID sample</title></head>
    <body>
        <h1>Index</h1>
        <p>
{% if user %}
            You are signed in as <strong>{{ user.username }}</strong> ({{ user.get_full_name }})
            <a href="/logout">Sign out</a>
    {% if extra %}
            <br />adult: {{ extra.adult }}
            <br />student: {{ extra.student }} 
            <br />phone: {{ extra.phone }}
            <br />
    {% endif %}
    {% if not associated %}
        <p>
            {% include "openid/_associate.html" %}
        </p>
        <div>
            Associate with mojeID:
            {% include "mojeid/_associate.html" %}
            <a href="http://www.mojeid.cz/page/805/vyhody-mojeid/">Proč mojeID?</a>
            <a href="{% url 'openid-registration' %}">Nový účet mojeID</a>
        </div>
    {% endif %}
{% else %}
        <p>
            {% include "openid/_login.html" %}
        </p>
        <p>
            {% include "mojeid/_login.html" %}
            <a href="http://www.mojeid.cz/page/805/vyhody-mojeid/">Proč mojeID?</a>
            <a href="{% url 'openid-registration' %}">Nový účet mojeID</a>
        </p>
{% endif %}
        </p>
        <p><a href="/private">This requires authentication</a></p>
    </body>
</html>
