include LICENSE.txt
include README.rst

recursive-include django_mojeid/templates *.html
recursive-include django_mojeid/static *.jpg
recursive-include django_mojeid/static *.png
recursive-include django_mojeid/static *.gif
