include LICENSE.txt
include README.rst

recursive-include django_mojeid/templates *.html *.xml
recursive-include django_mojeid/static *.jpg
recursive-include django_mojeid/static *.png
recursive-include django_mojeid/static *.gif
recursive-include django_mojeid/locale *
