<html>
    <head><title>Registration Example</title></head>
    <body>
        <h1> Registration Example </h1>
        <a href='?usecase=1' {% if usecase == 1 %}style='font-weight:bold'{% endif %} >
            Usecase 1
        </a>
        &nbsp;
        <a href='?usecase=2' {% if usecase == 2 %}style='font-weight:bold'{% endif %} >
            Usecase 2
        </a>
        &nbsp;
        <a href='?usecase=3' {% if usecase == 3 %}style='font-weight:bold'{% endif %} >
            Usecase 3
        </a>
        {% if usecase == 1 %}
        <h3>Registration of an unlogged user.</h3>
        <p>
        User is unlogged so there are no informations to be passed back to the server.
        The MojeID registration form is therefore not filled with any informations.
        </p>
        <p>
        After the registration the user is not redirected back to this site.
        Therefore user needs to log in using login via MojeID button to this server site.
        See examples/login to observe how the login works.
        </p>
        {% elif usecase == 2 %}
        <h3>Registration of an existing user</h3>
        <p>
        User is logged in some information about the user can be useful during the MojeID registration.
        The use_for_registration parameter of MOJEID_ATTRIBUTES sets whether the attribute is used for the registration.
        The use_for_registration is by default set to True.
        </p>
        <p>
        Overall registration procedure has several steps:
        </p>
        <ol>
            <li>A client clicks on the registration link.</li>
            <li>A new form is generated. This form contains parameters which are used to prefill MojeID registration form.</li>
            <li>The form contains an automatic redirection to MojeID registration form. So client is redirected.</li>
            <li>The registration form is properly filled and a new MojeID account is created and activated.</li>
            <li>MojeID server connects to the openid endpoint of this site. (/openid/)</li>
            <li>It checks whether the https is used and whether the server certificate can be trusted (not self-signed + valid chain).</li>
            <li>It determines the xrds.xml path (from the meta x-xrds-location tag).</li>
            <li>It downloads and parses xrds.xml and determines the assertion url. (/openid/assertion/)</li>
            <li>It passes the information about registration to local site using POST to assertion url.</li>
            <li>The local server associates the user who created registration request with MojeID account.</li>
        </ol>
        Prerequisities:
        <ul>
            <li>Server with a valid public address.</li>
            <li>Connection should be via SSL</li>
            <li>The SSL Certificate should have a valid trust chain (not self-signed)</li>
        </ul>
        {% elif usecase == 3 %}
        <h3>Registration of an existing user who is already registered in MojeID</h3>
        <p>
        Imagine a situation where a use clicks on registration link, but his username as nickname is already taken.
        </p>
        This can mean two things:
        <ol>
            <li>
                <p>
                    <b>User is already registered</b><br />
                    The client should use association instead of registration.
                    (see examples/association)
                </p>
            </li>
            <li>
                <p>
                    <b>Another user has the same nickname</b><br />
                    The client should create a new MojeID account with another nickname.
                    The procedure is the same as in the <a href='/?usecase=2'>previous usecase</a>.
                </p>
            </li>
        </ol>

        {% endif %}
        <br/>
        <hr/>
        {% if user.is_authenticated %}
        <table>
            <tr><th>Username</th><td>{{ user.username }}</td></tr>
            <tr><th>First name</th><td>{{ user.first_name }}</td></tr>
            <tr><th>Last name</th><td>{{ user.last_name }}</td></tr>
            <tr><th>Email</th><td>{{ user.email }}</td></tr>
        </table>
        {% endif %}
        {% if claimed_id %}
        <form action='{% url 'openid-disassociate' %}?next={{ request.get_full_path|urlencode }}' method='post'>
            {% csrf_token %}
            User associted with <b>{{ claimed_id }}</b>
            <input type="submit" value="Disassociate"></input>
        </form>
        {% endif %}
        <div style='margin:30px;'>
            <a href='{% url 'openid-registration' %}'>Register MojeID</a>
        </div>
    </body>
</html>
