<html>
    <head><title>mojeID sample</title></head>
    <body>
        <h1>Index</h1>
        <p>
{% if user %}
            You are signed in as <strong>{{ user.username }}</strong> ({{ user.get_full_name }})
            <a href="/logout?next=/">Sign out</a>
    {% if extra %}
            <br />adult: {{ extra.adult }}
            <br />student: {{ extra.student }} 
            <br />phone: {{ extra.phone }}
            <br />
    {% endif %}
    {% if not association %}
        <p>
            {% include "openid/_associate.html" %}
        </p>
        <div>
            Associate with mojeID:
            {% include "mojeid/_associate.html" %}
        </div>
    {% else %}
            Associated with: {{ association }}
            <form action='{% url 'openid-disassociate' %}' method='post'>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}"></input>
                <input type="submit" value="Disassociate"></input>
            </form>
    {% endif %}
{% else %}
        <p>
            {% include "openid/_login.html" %}
        </p>
        <p>
            {% include "mojeid/_login.html" %}
        </p>
{% endif %}
        </p>
        <p><a href="/private">This requires authentication</a></p>
        <h2>Multiple mojeid attribute sets</h2>
        registration 1: {% include "mojeid/_register.html" with attribute_set='default' %}<br />
        registration 2: {% include "mojeid/_register.html" with attribute_set='other' %}<br />
        login 1: {% include "mojeid/_login.html" with attribute_set='default' %}<br />
        login 2: {% include "mojeid/_login.html" with attribute_set='other' %}<br />
    </body>
</html>
